/* .nav{
    height: 150px;
    background-color: black;
}
.spacer{
    margin-top: 20px;
}
.img1 {
    height: 560px;
    width: 770px;
}
.right {
    margin-top: 130px;
    position: absolute;
    float: right;
    margin-left: 20px;
}
.heading {
    color: #999999;
    font-family: "mont",Tahoma,sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.85px;
    line-height: 16px;
    text-transform: uppercase;
}
.history{
    margin-top: -10px;
    font-size: 56px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5769B0;
    font-weight: bold;
}
.text{
    width: 660px;
    font-family: sans-serif;
    color: rgba(0,0,0,0.7);
    margin-top: -40px;
    font-size: 20px;
}

hr.hr-1 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .section-lead {
    max-width: 600px;
    margin: 1rem auto 1.5rem;
  }
  .spacer2 {
    margin-left: 500px;
  }
  .service a {
    color: #5769B0;
    display: block;
  }
  .left2{
    position: absolute;
    margin-left: 30px;
    margin-top: 130px;
  }

  .comp2 {
    margin-top: 30px;
    background-color: #f5f5f5;
    padding-bottom: 50px;
  }
  .img2{
    height: 560px;
    width: 770px;
  }
  .right2{
    margin-top: 40px;
    float: right;
  }
  .service h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #56ceba;
    font-size: 1.3rem;
    margin: 1rem 0 0.6rem;
  }
  
  .services-grid {
    margin-top: 20px;
    background-color: #f5f5f5;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .service {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e7e7e7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  
  .service i {
    font-size: 3.45rem;
    margin: 1rem 0;
  }
  
  .service1 i,
  .service1 h4,
  .service1 .cta {
    color: #5769B0;
  }
  
  
  .service2 i,
  .service2 h4,
  .service2 .cta {
    color: #5769B0;
  }
  

  
  .service3 i,
  .service3 h4,
  .service3 .cta {
    color: #9c42ca;
  }
  .service:hover {
    transform: scale(1.1);
  }
  
  .service .cta span {
    font-size: 0.6rem;
  }
  
  .service > * {
    flex: 1 1 100%;
  }
  
  .service .cta {
    align-self: flex-end;
  }
  .icon {
    font-size: 36px;
    color: green;
  } */




  @keyframes fade-in {
    0% {
      opacity: 0;
   }
    100% {
      opacity: 1;
   }
 }
  @keyframes slide-in {
    0% {
      top: -300px;
   }
    100% {
      top: 0;
   }
 }
  @keyframes scaleDown {
    0% {
      transform: scale(1);
   }
    10% {
      transform: scale(0.7);
   }
    95% {
      transform: scale(0.7);
   }
    100% {
      transform: scale(1);
   }
 }
  @keyframes reveal-info {
    0% {
      height: 0;
   }
    5% {
      height: 350px;
   }
    95% {
      height: 350px;
   }
    100% {
      height: 0;
   }
 }
  /* body {
    margin: 0;
    padding: 0;
 } */
  .about--container{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 700px;
    background-color: #EFFFFD;
    font-size: 14px;
    font-family: sans-serif;
 }
  .about--container .about--container-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    animation: fade-in 1.5s ease, slide-in 1.2s ease;
    -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;
 }
  .about--container .about--container-inner .about--main-content {
    flex-basis: 50%;
    order: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
 }
  .about--container .about--container-inner .about--main-content .about--main-headings {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    animation: scaleDown 6s ease 2s;
    -webkit-animation: scaleDown 6s ease 2s;
 }
  .about--container .about--container-inner .about--main-content .about--main-headings #about--by-line {
    width: 60%;
    padding-bottom: 1px;
    padding-left: 3px;
    margin-left: 15px;
    font-size: 85%;
    border-bottom: 1px solid #757575;
    font-style: italic;
 }
  .about--container .about--container-inner .about--main-content .about--main-headings .about--heading {
    margin-top: 20px;
    margin-left: 80px;
 }
  .about--container .about--container-inner .about--main-content .about--main-headings .about--heading #about--heading1, .about--container .about--container-inner .about--main-content .about--main-headings .about--heading #about--heading2, .about--container .about--container-inner .about--main-content .about--main-headings .about--heading #about--heading3 {
    margin: 0;
    margin-top: -20px;
 }
  .about--container .about--container-inner .about--main-content .about--main-headings .about--heading #about--heading1, .about--container .about--container-inner .about--main-content .about--main-headings .about--heading #about--heading2 {
    font-size: 500%;
    font-weight: normal;
    letter-spacing: -2px;
 }
  .about--container .about--container-inner .about--main-content .about--main-headings .about--heading #about--heading1 {
    margin-left: 50px;
      font-size: 30px;
 }
  .about--container .about--container-inner .about--main-content .about--main-headings .about--heading #about--heading2 {
    margin-left: 150px;
      font-weight: 800;
      font-size: 84px;
 }
  .about--container .about--container-inner .about--main-content .about--main-headings .about--heading #about--heading3 {
    margin-top: -52px;
    font-size: 84px;
    font-weight: 800;
    letter-spacing: 2px;
 }
  .about--container .about--container-inner .about--main-content .about--main-headings .about--short-bio {
    width: 60%;
    margin-top: -10px;
    margin-left: 90px;
    font-style: italic;
    font-size: 105%;
 }
  .about--container .about--container-inner .about--main-content .about--main-headings a {
    margin-left: 92px;
    align-self: flex-start;
    font-weight: bold;
    font-size: 120%;
    font-family: helvetica;
    text-decoration: none;
    color: black;
 }
  .about--container .about--container-inner .about--main-content .about--main-headings a:hover {
    text-decoration: underline;
 }
  .about--container .about--container-inner .about--main-content .about--more-info {
    margin-top: -70px;
    width: 50%;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-start;
    overflow: hidden;
    animation: reveal-info 4s ease 3s;
    -webkit-animation: reveal-info 4s ease 3s;
 }
  .about--container .about--container-inner .about--image-wrapper {
    flex-basis: 50%;
    order: 2;
 }
  .about--container .about--container-inner .about--image-wrapper .about--image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: scaleDown 6s ease 2s;
    -webkit-animation: scaleDown 6s ease 2s;
 }
  .about--container .about--container-inner .about--image-wrapper .about--image-container img {
    width: 100%;
    height: auto;
    position: relative;
 }
  @media (min-width: 350px) and (max-width: 529px) {
    * {
      animation-name: none !important;
   }
   #about--by-line{
     display: none;
   }
    .about--container {
      width: 90%;
      height: 700px;
      margin-left: auto;
      margin-right: auto;
      font-size: 5px;
      margin-bottom: 20px;
   }
   .about--container .about--container-inner .about--main-content .about--main-headings .about--heading #about--heading3 {
     margin-top: -52px;
     font-size: 80px;
     font-weight: 800;
     letter-spacing: 2px;
    }
    .about--container .about--container-inner .about--main-content .about--main-headings .about--heading #about--heading1 {
   margin-left: -6px;
   font-size: 20px;
   letter-spacing: 2px;
 }
    .about--container-inner {
      flex-direction: column !important;
      justify-content: center !important;
   }
    .about--main-content, .about--image-wrapper {
      flex-basis: 100% !important;
      width: 400px;
   }
    .about--main-content {
      order: 2 !important;
      margin: 0 50px;
   }
    .about--image-wrapper {
      order: 1 !important;
   }
    .about--heading {
      margin-left: 5px !important;
   }
    #about--heading1, #about--heading2 {
      margin: 0;
      margin-top: -5px !important;
   }
    #about--heading2 {
     font-size: 20px;
      margin-left: 100px !important;
   }
    #about--heading3 {
      margin-top: -20px !important;
      font-size: 10px;
   }
    .about--short-bio {
      margin-top: -10px !important;
      margin-left: 60px !important;
   }
   .about--short-bio1 {
     font-size: 20px;
     width: 400px;
   }
    .about--more-info {
      height: 150px !important;
      width: 60% !important;
      margin: 0 !important;
      align-self: flex-start !important;
      margin-top: 0px !important;
      margin-left: 60px !important;
      font-size: 8px;
   }
    .about--link {
      display: none;
   }
    .about--image-wrapper {
      order: 1 !important;
      width: 100%;
      height: 100px !important;
      justify-content: center !important;
   }
    .about--image-container {
      width: 100% !important;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
   }
    .about--image {
      width: 100% !important;
      height: auto !important;
      top: -20px;
      margin-left: auto;
      margin-right: auto;
   }
 }
  @media (min-width: 530px) and (max-width: 699px) {
    * {
      animation-name: none !important;
   }
    .about--container {
      width: 90%;
      height: 900px;
      margin-left: auto;
      margin-right: auto;
      font-size: 8px;
   }
    .about--container-inner {
      flex-direction: column !important;
      justify-content: center !important;
   }
    .about--main-content, .about--image-wrapper {
      flex-basis: 100% !important;
   }
    .about--main-content {
      width: 80%;
      order: 2 !important;
      align-self: center !important;
   }
    .about--main-headings {
      width: 100%;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
   }
    .about--heading {
      margin-left: 55px !important;
   }
    #about--heading1, #about--heading2 {
      margin: 0;
      margin-top: -15px !important;
   }
    #about--heading3 {
      margin-top: -30px !important;
   }
    .about--short-bio {
      margin-top: -20px !important;
      margin-left: 60px !important;
   }
    .about--link {
      display: none;
   }
    .about--more-info {
      height: 150px !important;
      width: 60% !important;
      margin: 0 !important;
      align-self: flex-start !important;
      margin-top: 0px !important;
      margin-left: 60px !important;
      text-align: justify;
   }
    .about--image-wrapper {
      order: 1 !important;
      width: 100%;
      height: 400px;
      justify-content: center !important;
   }
    .about--image-container {
      width: 100% !important;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
   }
    .about--image {
      width: 80% !important;
      height: auto !important;
      top: -20px;
      margin-left: auto;
      margin-right: auto;
   }
 }
 /* @include tablet {
    .about--container {
      width: 100%;
      height: auto;
      font-size: 7px;
   }
    #heading3 {
      margin-top: -35px !important;
   }
    .link {
      margin-left: 30px;
   }
    .more-info {
      margin-top: -40px !important;
   }
 }
  */
  @media (min-width: 700px) and (max-width: 1200px) {
    .about--container {
      width: 100%;
      height: auto;
      font-size: 9px;
   }
    #about--heading3 {
      margin-top: -35px !important;
   }
    .about--link {
      margin-left: 30px;
   }
    .about--more-info {
      margin-top: -40px !important;
   }
 }
 