* {
    margin: 0;
    border: 0;
    padding: 0;
  }
  
  /*--- Start Parallax Style --*/
  .services--parallax {
    background: url("../../assets/hlogo2.png") repeat fixed 50%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 550px;
    background-position: 50% 90%;
  }
  
  .services--parallax-inner {
    padding-bottom: 0%;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start; */
  }
  
  .services--div1 , .services--div2 , .services--div3 {
    display: flex;
    justify-content: space-evenly;
  }
  
  /* .services--div2 {
   
  } */
  
  /*--- End Parallax Style --*/
  
  
  /*--- Start Container --*/
  .services--img-bx{
    padding: auto;
  }

  .services--img-bx h2{
    font-size: x-large;
  }
  
  .services--circlebox {
    width: 250px;
    height: 250px;
  }
  
  /* img {
    vertical-align: middle;
    border-style: none;
    display: block;
    z-index: 999;
    cursor: pointer;
  }
  
  img a:hover {
    transform: scale(3); 
  } */
  
  .services--thumbnail {
    /* overflow: hidden;
    width: 250px;
    height: 250px;
    z-index: 999;
    display: block;
    cursor: pointer;
    position: relative;
    transition: all .3s ease-in-out;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease; */
    width: 250px;
    height: 250px;
    display:block; 
    z-index:999; 
    cursor: pointer;
  }
