*{
    padding: 0%;
    border: 0px;
    margin: 0%;
}

.mainhead{
    width: 90%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.mainhead div h5{
    font-size: 25px;
    text-decoration: orange 5px underline;
    
}

.mainhead div{
    margin-top: 20px;
}

.mainhead div p{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
}

.mainhead div ul li{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
}