*{
    margin: 0%;
    padding: 0%;
    border: none;
}


/* FOOTER CSS */

.footer{
    background-color: rgb(235, 246, 255);
    margin-top: 20px;
}

.footer1-mobile , .footer2-mobile{
    display: none;
}

.footer-tablet{
    display: none;
}

#footer-logo img{
    width: 250px;
    height: 200px;
}

#footer-logo{
    width: 40%;
    display: flex;
    justify-content: center;
}


.reachus-section{
    width: 64%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

/* .location{
    width: 25%;
    margin: auto;
    margin-top: 20px;
    background-color: greenyellow;
    text-align: center;
    font-size: larger;
    padding: 10px;
} */


.address-footer , .contact-footer , .gmail-footer{
    margin: 10px 4px 0px 0px;
}

.contact-footer a span, .gmail-footer a span , .address-footer a span{
    margin: 0px 5px 0px 5px;
    vertical-align: middle;
    color: dodgerblue;
}

.contact-footer a , .address-footer a , .gmail-footer a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contact-footer a:hover , .address-footer a:hover , .gmail-footer a:hover{
    color: dodgerblue;
}

.facebook-footer a span, .instagram-footer a span , .linkdin-footer a span{
    margin: 0px 5px 0px 5px;
    color: dodgerblue;
}

.about-footer{
    width: 40%;
}

.guide-footer{
    width: 60%;
}

.about-guide{
    display: flex;
    width: 36%;
 }

.about-footer div ul , .guide-footer div ul{
    list-style: none;
}

.about-footer div ul li, .guide-footer div ul li, h4{
    margin: 5px;
}

.about-footer div ul li a, .guide-footer div ul li a{
    cursor: pointer;
}

.about-footer div ul li a:hover, .guide-footer div ul li a:hover{
    text-decoration: underline;
}

.vertical-line2 , .vertical-line3{
    border-left: 1px solid black;
    height: 100px;
    margin: 50px 10px 0px 5px;
}

.vertical-line1{
    display: none;
}

.footer1{
    display: flex;
}

#follow-us{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-link{
    width: 30%;
    margin: auto;
    display: flex;
    font-size: 25px;
    justify-content: center;
    border: solid dodgerblue 2px;
    background-color: transparent;
}

.social-link div a span{
    vertical-align: middle;
}

.social-link div:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.footer2{
    text-align: center;
    padding: 10px;
    margin-top: 10px ;
}

.location{
    position: relative;
    transition:800ms ease all;
    width: 25%;
    margin: auto;
    margin-top: 20px;
    background-color: greenyellow;
    text-align: center;
    font-size: larger;
    padding: 10px;
}

  .location div a{
    text-decoration: none;
    color: black
}

  .location:hover{
    background-color: transparent;
}

  .location:before,.location:after{
    content:'';
    position: absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: dodgerblue;
    transition:400ms ease all;
}

  .location:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

  .location:hover:before,.location:hover:after{
    width:100%;
    transition:800ms ease all;
}


@media only screen and (max-width: 1160px){

    .footer-tablet{
        display: block;
        background-color: rgb(235, 246, 255);
        margin-top: 10px;    
    }

    .social{
        width: 60%;
    }

    .social-link{
        margin-top: 20px;
    }

    .location{
        margin-top: 20px;
        width: 30%;
        padding: 8px;
    }

    .footer1{
        flex-direction: column;
    }

    .reachus-section{
        width: 100%;
    }

    #footer-logo{
        width: 40%;
    }

    .footer{
        display: none;
    }

    .social-flex{
        display: flex;
    }

    .about-guide{
        margin-top: 20px;
        width: 100%;
    }

    .about-footer , .guide-footer{
        width: 50%;
        text-align: center;
    }

 }

 @media only screen and (max-width: 680px){

    .footer-mobile{
        background-color: rgb(235, 246, 255);
    }

    .about-footer div h4 span , .guide-footer div h4 span{
        vertical-align: middle;
        float: right;
    }

    .footer1 , .footer2{
        display: none;
    }

    .footer2-mobile{
        text-align: center;
        padding: 10px;
        margin-top: 10px ;
    }

    .footer1-mobile , .footer2-mobile{
        display: block;
    }

    #footer-logo{
        width: 100%;
        margin: auto;
    }

    .contact-list{
        text-align: center;
        margin-top: 30px;
    }

    .social-link{
        margin-top: 10px;
    }

    .location{
        width: 35%;
    }

    .about-guide{
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    .about-footer div ul , .guide-footer div ul{
        border-bottom: solid dodgerblue 1px;
        border-left: solid dodgerblue 1px;
        border-right: solid dodgerblue 1px;
        margin: 10px;
    }

    h4{
        border-bottom: solid greenyellow 2px;
    }

    .about-footer , .guide-footer{
        width: 100%;
        text-align: left;
    }

    #about-footer-display , #guide-footer-display{
        display: none;
    }


 }

